{
  "log": {
    "_recordingName": "refresh_token_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "da6a3e3250b13107afea0776b4b092b0",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 929,
      },
      {
        "_id": "fe2d4c2c9d5808f07afaa9213b0c9ee2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"grant_type\":\"refresh_token\",\"refresh_token\":\"[REDACTED]\",\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 307,
            "text": "{\"data\":{\"id\":\"11639\",\"type\":\"token\",\"attributes\":{\"access_token\":\"[REDACTED]\",\"token_type\":\"[REDACTED]\",\"expires_in\":7200,\"refresh_token\":\"[REDACTED]\",\"created_at\":1668074777}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9236820731a226efab517fb757fb7029\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      },
      {
        "_id": "6009aa890acef00d811cf9c6fb77298d",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 345,
      },
      {
        "_id": "3137544de6a368126a23f6b0b83ab92b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 235,
            "text": "{\"data\":{\"id\":\"41\",\"type\":\"user\",\"attributes\":{\"email\":\"rossukhon@nimblehq.co\",\"name\":\"Rossukhon\",\"avatar_url\":\"https://secure.gravatar.com/avatar/252876a66bc74a8d0a8ec1ebb3dd991c\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7ac2b33d0efea32043e2918128053f87\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 330,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
