{
  "log": {
    "_recordingName": "logout_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "610a91a0114ce62af7ba8abdc08d646d",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/revoke"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 904,
      },
      {
        "_id": "d230c5044d18c9c6285e551e4e4f74dc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\",\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/revoke"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"f5945abca2ab3cb7931dfbcd4afebded\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 380,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
