{
  "log": {
    "_recordingName": "login_failed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f525de7303afacc716cccc53c68a45ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"grant_type\":\"password\",\"email\":\"ros@nimblehq.co\",\"password\":\"[ REDACTED ]\",\"client_id\":\"[ REDACTED ]\",\"client_secret\":\"[ REDACTED ]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 168,
            "text": "{\"errors\":[{\"detail\":\"Your email or password is incorrect. Please try again.\",\"code\":\"invalid_email_or_password\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Doorkeeper\", error=\"invalid_email_or_password\", error_description=\"Your email or password is incorrect. Please try again.\""
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 976,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
