{
  "log": {
    "_recordingName": "get_user_profile_failed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6009aa890acef00d811cf9c6fb77298d",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 869,
      },
      {
        "_id": "3137544de6a368126a23f6b0b83ab92b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 128,
            "text": "{\"errors\":[{\"detail\":\"The access token is invalid\",\"code\":\"invalid_token\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Doorkeeper\", error=\"invalid_token\", error_description=\"The access token is invalid\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
