{
  "log": {
    "_recordingName": "get_user_profile_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6009aa890acef00d811cf9c6fb77298d",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 875,
      },
      {
        "_id": "3137544de6a368126a23f6b0b83ab92b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 235,
            "text": "{\"data\":{\"id\":\"41\",\"type\":\"user\",\"attributes\":{\"email\":\"rossukhon@nimblehq.co\",\"name\":\"Rossukhon\",\"avatar_url\":\"https://secure.gravatar.com/avatar/252876a66bc74a8d0a8ec1ebb3dd991c\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1d3dc9f99b54ad78e662020cc732107d\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
