.layout-fullscreen {
  &,
  body,
  .root-container {
    height: 100vh;
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  .app-header {
    padding: rem(32px 32px 0);
  }

  .app-content {
    max-width: rem(768px);

    margin: auto;
    padding: rem(0 32px 32px);
  }
}
