body.home {
  main {
    display: flex;
    flex-direction: column;
  }

  .home__list-survey {
    $self: '.list-survey';

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    #{ $self }__blank-state {
      padding-bottom: rem(160px);
    }
  }
}
