body.home {
  main {
    display: flex;
    flex-direction: column;
    padding: 4% 0 0;
  }

  .home__today-date {
    margin: rem(0 32px);
  }

  .home__list-survey {
    $self: '.list-survey';

    flex: 1;
    margin-top: rem(32px);

    #{ $self } {
      height: 100%;
    }

    #{ $self }__blank-state {
      padding-bottom: rem(160px);
    }
  }
}
