{
  "log": {
    "_recordingName": "login_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "792867370eeb4dcd42acceff1242e05f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"grant_type\":\"password\",\"email\":\"rossukhon@nimblehq.co\",\"password\":\"[ REDACTED ]\",\"client_id\":\"[ REDACTED ]\",\"client_secret\":\"[ REDACTED ]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 300,
            "text": "{\"data\":{\"id\":\"10401\",\"type\":\"token\",\"attributes\":{\"access_token\":\"[ REDACTED ]\",\"token_type\":\"Bearer\",\"expires_in\":7200,\"refresh_token\":\"[ REDACTED ]\",\"created_at\":1661861713}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"855351bf2d04dff610728a1c05f80eb2\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 815,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
