{
  "log": {
    "_recordingName": "login_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "33da47d9306954c57b0e777b00256333",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"grant_type\":\"password\",\"email\":\"rossukhon@nimblehq.co\",\"password\":\"[ REDACTED ]\",\"client_id\":\"[ REDACTED ]\",\"client_secret\":\"[ REDACTED ]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 304,
            "text": "{\"data\":{\"id\":\"10390\",\"type\":\"token\",\"attributes\":{\"access_token\":\"[ REDACTED ]\",\"token_type\":\"Bearer\",\"expires_in\":7200,\"refresh_token\":\"[ REDACTED ]\",\"created_at\":1661852403}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"691b438c51b9450dd273cffd078ad4cd\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 900,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
