{
  "log": {
    "_recordingName": "login_success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "792867370eeb4dcd42acceff1242e05f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=utf-8",
            "params": [],
            "text": "{\"grant_type\":\"password\",\"email\":\"rossukhon@nimblehq.co\",\"password\":\"[REDACTED]\",\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\"}"
          },
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/oauth/token"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 303,
            "text": "{\"data\":{\"id\":\"10581\",\"type\":\"token\",\"attributes\":{\"access_token\":\"[REDACTED]\",\"token_type\":\"Bearer\",\"expires_in\":7200,\"refresh_token\":\"[REDACTED]\",\"created_at\":1662365310}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b70aa3fc5ef28c34b2d7c71c43418df\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 891,
      },
      {
        "_id": "6009aa890acef00d811cf9c6fb77298d",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 861,
      },
      {
        "_id": "3137544de6a368126a23f6b0b83ab92b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/me"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 231,
            "text": "{\"data\":{\"id\":\"41\",\"type\":\"user\",\"attributes\":{\"email\":\"rossukhon@nimblehq.co\",\"name\":\"Rossukhon\",\"avatar_url\":\"https://secure.gravatar.com/avatar/252876a66bc74a8d0a8ec1ebb3dd991c\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d33382574f4b0d955727eb221edcfa0f\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
