.btn {
  &:focus,
  &:active:focus {
    box-shadow: none;
  }
}

.btn--primary {
  @extend .btn-primary;
}

.btn--secondary {
  @extend .btn-secondary;
}

.btn--link {
  @extend .btn-link;
}

.btn--sm {
  @extend .btn-sm;
}

.btn--md {
  @extend .btn-sm;
}

.btn--full-width {
  width: 100%;
}

.btn--round {
  display: flex;
  align-items: center;
  justify-content: center;

  width: rem(56px);
  height: rem(56px);

  padding: rem(13px);

  border-radius: 100%;
}
