.list-survey {
  &__blank-state {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }

  &__carousel {
    height: 100%;
  }

  &-item {
    margin: rem(0 32px);

    &__cover {
      width: 100%;
      height: rem(302px);

      object-fit: cover;

      border-radius: rem(12px);
    }

    &__detail {
      display: flex;
      justify-content: space-between;

      margin-top: rem(32px);
    }

    &__description {
      padding-right: rem(8px);

      opacity: 0.6;
    }
  }
}
