$user-menu-width: rem(264px);

.user-menu {
  &__toggler {
    padding: 0;
  }

  &__avatar {
    width: rem(36px);
    height: rem(36px);

    border-radius: 50%;
  }

  @keyframes user-menu-slide-open {
    0% { transform: translateX(0); }
    100% { transform: translateX(-$user-menu-width); }
  }

  @keyframes user-menu-slide-close {
    0% { transform: translateX(0); }
    100% { transform: translateX($user-menu-width); }
  }

  &__collapse {
    display: none;

    position: absolute;
    top: 0;
    right: -$user-menu-width;
    bottom: 0;

    width: $user-menu-width;

    &--open {
      display: block;

      animation: user-menu-slide-open 0.5s;
      animation-fill-mode: forwards;
    }

    &--close {
      display: block;
      right: 0;

      animation: user-menu-slide-close 0.5s;
      animation-fill-mode: forwards;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: rem(32px 32px 20px 32px);

    background-color: $user-menu-alpha-bg;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: rem(20px);

    border-bottom: 1px solid map-get($grays, '300');

    font-size: map-get($font-sizes, xl);
    font-weight: bold;
  }

  &__nav {
    flex: 1;
    margin: rem(35px 0 35px);

    a {
      padding-left: 0;

      opacity: 50%;

      font-size: map-get($font-sizes, lg);
    }
  }

  &__footer {
    opacity: 50%;

    font-size: map-get($font-sizes, xxs);

    letter-spacing: rem(0.07px);
  }
}
