{
  "log": {
    "_recordingName": "list_survey_success_empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bacfa9e6807e1eea0e14e25327bf35c3",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/surveys"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 972,
      },
      {
        "_id": "e98f6ab6064849d51d8c07cdebc9e8a3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://survey-api.nimblehq.co/api/v1/surveys"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 4113,
            "text": "{\"data\":[],\"meta\":{\"page\":1,\"pages\":1,\"page_size\":5,\"records\":0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"873e2ba0247be7150f4f9a8b96eb406e\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 314,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
